<%= stylesheet_link_tag "userlogin.css" %>

<body class="NewLogin">
<% provide(:title, "Log in") %>


<div class="jawn">


<h2 class="loginheader">Log in</h2>
<% if flash[:danger]%>
<%= flash[:danger]%>
<%end%>
</div>

<div align= "center" class="loginform">
    <%= form_for(:session, url: login_path) do |f| %>

      Username: <%= f.text_field :username, class: 'form-control' %>


      Password:<%= f.password_field :password, class: 'form-control' %>

      <button type="submit" name="button"><%= "Log in" %></button>


      <p>  <%= link_to "New User? Sign up now!", new_user_path %></p>
    <% end %>
  </div>



  </body>
