<h1><%=@drink.name%></h1> <br><br>
<%=image_tag(url_for(@drink.imgurl))%>

Description: <%= @drink.desc %><br><br>






Price Per Drink: <%=@drink.price%>





<%= link_to "Home", root_path %>
<%= link_to "add to order", add_drink_path(@drink) %>
