<%= stylesheet_link_tag "drinkshow.css" %>

<h1><%=@drink.name%></h1> <br><br>
<%=image_tag(url_for(@drink.imgurl))%>

Description: <%= @drink.desc %><br><br>






Price Per Drink: <%=@drink.price%>






<% if current_order.drinks.include? @drink%>
<%= link_to "remove from order", remove_drink_path(@drink) %>
<%end%>
<%= link_to "add to order", add_drink_path(@drink) %>
