<%= link_to "Current Order", order_path(@order) %>
<h1>Food: </h1>
<br><br><br>


<div class="Foods">


<%@foods.each do |food|%>
<br>
<%= link_to food.name, food %>
<p><%='%.2f' % food.price.to_d %> each </p>

<%= food.imgurl %><br>
<%= link_to "Add to Order", add_food_path(food) %>
</div>
<br>
<%end%>

<br><br><br>
<h1>Drinks: </h1>
<br><br><br>
<div class="Drinks">

<%@drinks.each do |drink|%>
<br>
<%= link_to drink.name, drink %>
<p><%='%.2f' %  drink.price.to_d %> each </p>

<%= drink.imgurl %><br>
<%= link_to "Add to Order", add_drink_path(drink) %>
</div>
<br>
<%end%>



<h1>DON'T DELETE THIS FOR NOW, ABILITY TO SEE USERBASE</h1>

<h2><%=link_to "login", login_path%></h2> <br>

<%@users.each do |user|%>
<h4><%= link_to user.name, user%></h4> <br>  <br> <br>

<%end%>
