<h1>Food: </h1>
<br><br><br>
<%@foods.each do |food|%>
<br>
<%= link_to food.name, food %>
<p><%= food.price.to_s %> each </p>

<%= food.imgurl %><br>
<%= link_to "Add to Order", add_food_path(food) %>
<br>
<%end%>
<br><br><br>
<h1>Drinks: </h1>
<br><br><br>
<%@drinks.each do |drink|%>
<br>
<%= link_to drink.name, drink %>
<p><%= drink.price.to_s %> each </p>

<%= drink.imgurl %><br>
<%= link_to "Add to Order", add_drink_path(drink) %>
<br>
<%end%>


<h1>DON'T DELETE THIS FOR NOW, ABILITY TO SEE USERBASE</h1>

<h2><%=link_to "login", login_path%></h2> <br>

<%@users.each do |user|%>
<h4><%= link_to user.name, user%></h4> <br>  <br> <br>

<%end%>
