<%= stylesheet_link_tag "index.css" %>

<body class="mainpage">



<h1 id = "foodheader">Food: </h1>

<br><br>
<div class="foods">
<%@foods.each do |food|%>
<br>



<div class="foodrow">
  <div class="foodcolumn">



<div class="menucard">


<%= link_to food.name, food %>
<p class="price"><%='%.2f' % food.price.to_d %> each </p>
<%=link_to image_tag(url_for(food.imgurl)), food%><br>
<%= link_to "Add to Order", add_food_path(food) %>

<br>
</div>
</div>
</div>
<%end%>
</div>
<br><br>

<h1 id = "drinkheader">Drinks: </h1>

<br><br><br>
<div class="drinks">
<%@drinks.each do |drink|%>
<br>
<div class="foodrow">


<div class="foodcolumn">


<div class="menucard">


<%= link_to drink.name, drink %>
<p class="price"><%='%.2f' %  drink.price.to_d %> each </p>

<%=link_to image_tag(url_for(drink.imgurl)), drink%><br>
<%= link_to "Add to Order", add_drink_path(drink) %>

<br>
</div>
</div>
</div>
<%end%>
</div>
</body>
