
<%= stylesheet_link_tag "usershow.css" %>

<body class="usershowpage">


<h1>Welcome <%=@user.name%> !</h1>
<%if current_order_exists?%>
<h4><%=link_to "Return to Menu for Current Order", users_path%></h4>
<%else%>
<h4><%=link_to "Create a New Order", users_path%></h4>
<%end%>



<ul>


  <%if @orders.length > 0%>

    <%@orders.each do |order|%>

<div class="profilecard">


    <h2>Order #<%= @count %></h2>
      <%if order.drinks.length > 0%>
      <h3>Drinks: </h3>
      <%end%>
       <%order.drinks.each do |drink| %>
        <li><%= drink.name%>
          <%end%></li>
          <%if order.foods.length > 0%>
          <h3>Food: </h3>
          <%end%>
      <%order.foods.each do |food| %>
        <li><%= food.name%>
      <%end%></li>


      <% @count += 1 %>
      </div>
    <%end%>

  <%else%>


  <div class="profilecard">


    <h2>No Past Orders On Record</h2>
</div>

  <%end%>


</ul>


<%= link_to "Delete",@user, method: :delete %>
<%= link_to "Edit User", edit_user_path(@user) %>
</body>
