<h1>Welcome! <%=@user.name%> </h1>
<h2>Age: <%=@user.age%></h2>

<ul>
  <%if @orders.length > 0%>


    <%@orders.each do |order|%>
    <h2>Order #<%= @count %></h2>
      <%if order.drinks.length > 0%>
      <h3>Drinks: </h3>
      <%end%>
       <%order.drinks.each do |drink| %>
        <li><%= drink.name%>
          <%end%></li>
          <%if order.foods.length > 0%>
          <h3>Food: </h3>
          <%end%>
      <%order.foods.each do |food| %>
        <li><%= food.name%>
      <%end%></li>


      <% @count += 1 %>

    <%end%>
    <%end%>

</ul>
<%= link_to "Delete",@user, method: :delete %>
<%= link_to "Edit User", edit_user_path(@user) %>
<%= link_to "Home", root_path %>
