
<%= stylesheet_link_tag "orders.css" %>


<body id="cartform">

<div class="jawn">


  <div class="col-25">
    <div class="container">
      <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b><%= @drinks.length + @foods.length %></b></span></h4>

      <div id="drinks">
        <h3>Drinks: </h3>
        <%@drinks.each do |drink|%>
        <li><%=link_to drink.name, drink%>
          <%= '%.2f' % drink.price.to_d%><br>
        </li>
        <%end%>
      </div>

      <div id="foods">
        <h3>Food: </h3>
        <%@foods.each do |food|%>
        <li>
          <%=link_to food.name, food%>
          <%= '%.2f' % food.price.to_d%><br>
        </li>
        <%end%>
      </div><br>
      <div class="addmore"><%=link_to "Add More to Order", users_path%></div>
      <div class="clearcart"><%=link_to "Clear Cart", clear_cart_path%></div>


      <hr>
      <p>Total <span class="price" style="color:black"><b><%= '%.2f' % @total_price %></b></span></p>
    </div>
    <div class="checkoutwcard">
    <h4 id="checkout"><%=link_to "Pay with Cash!", checkout_path %></h4>

    <h4 id="checkout"><%=link_to "Pay with Card!", cardform_path %></h4></div>
  </div>
  </div>

</body>
