<%= stylesheet_link_tag "drinkshow.css" %>

<body class="drinkshow">



<div class="card">

<h1><%=@food.name%></h1>
<%=image_tag(url_for(@food.imgurl))%>

<p><%= @food.desc %></p>

<p class="price"></p>Price Per Food: <%='%.2f' %  @food.price%>






<% if current_order.foods.include? @food%>
<%= link_to "remove from order", remove_food_path(@food) %>
<%end%>
<%= link_to "add to order", add_food_path(@food) %>
</div>
</body>
