<h1><%=@food.name%></h1> <br><br>
<%=image_tag(url_for(@food.imgurl))%>

Description: <%= @food.desc %><br><br>






Price Per Food: <%=@food.price%>





<%= link_to "Home", root_path %>
<% if current_order.foods.include? @food%>
<%= link_to "remove from order", remove_food_path(@food) %>
<%end%>
<%= link_to "add to order", add_food_path(@food) %>
